In [130]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import csv
import pandas as pd
from selenium.webdriver.chrome.options import Options
import re

In [131]:
pages=25
file_path = 'output.txt'
csv_file_path = 'transcripts.csv'
header = ['Character', 'Sentence']

In [132]:
chrome_options = Options()
chrome_options.add_argument("--headless=new")
driver = webdriver.Chrome(options=chrome_options)
output_file = open(file_path, "w",encoding='utf-8')  

for page in range(pages):
    driver.get(f"https://www.animecharactersdatabase.com/episodetranscript.php?pid=104802&epid={page+1}")
    transcript = driver.find_element(By.ID, 'transcript').text
    output_file.write(transcript)

output_file.close()  
driver.quit()

Error sending stats to Plausible: error sending request for url (https://plausible.io/api/event): operation timed out

In [133]:
splitter = re.compile(r'\([\w\:.]+\)')
pattern = re.compile(r'(^[^:]+):([^|]*)')

In [142]:
with open(file_path, 'r', encoding='utf-8') as file:
    text_data = file.read()
lines = text_data.strip().split('▶')

In [168]:
with open(file_path, 'r', encoding='utf-8') as file:
    with open(csv_file_path, 'w', newline='', encoding='utf-8') as csv_file:
        csv_writer = csv.writer(csv_file,delimiter='|')
        csv_writer.writerow(header)
        for line in lines:
            re.match(pattern, line)
            if re.match(pattern, line):
                
                line = re.split(splitter, line)

                # character = re.match(pattern, line).group(1)
                # sentence = re.match(pattern, line).group(2)
                # csv_writer.writerow([character, sentence])
            
                try:
                    character = re.match(pattern, line[0]).group(1)
                    sentence = re.match(pattern, line[0]).group(2)
                    csv_writer.writerow([character, sentence])
                except:
                    line = "".join(line)
                    character = re.match(pattern, line).group(1)
                    sentence = re.match(pattern, line).group(2)
                    csv_writer.writerow([character, sentence])
                
            else:
                pass

In [183]:
df = pd.read_csv('transcripts.csv', sep='|')
df.Character = df.Character.apply(lambda x: x.strip())

df.Character.value_counts()

Character
Subaru Natsuki              4008
Rem                          829
Emilia                       783
Ram                          424
Crusch Karsten               363
Petelgeuse Romanee-Conti     322
EXTRA                        300
Beatrice                     281
Puck                         269
Julius Euclius               232
Felix Argyle                 206
Wilhelm van Astrea           172
Felt                         164
Reinhard van Astrea          160
Roswaal L. Mathers           137
Otto Suwen                   115
Anastasia Hoshin             106
Priscilla Barielle            88
Kadomon Risch                 75
Elsa Granhiert                70
Ricardo                       59
Mimi Pearlbaton               56
Marcos                        41
Aldebaran                     37
Wilhelm ( Younger )           37
Rom                           27
Theresia van Astrea           24
Russell Fellow                23
Ton                           22
Miklotov                      20
Chin                          18
Hetaro                        17
Tivey                         17
Kan                           15
Ram ( Child )                 13
Conwood Melahau               11
Bordeaux                      10
Temae                         10
Rickert                        8
Quark                          8
Setanta                        8
Frederica Baumann              1
Name: count, dtype: int64

In [187]:
df.rename(columns={"Character":"name"})

                name                                           Sentence
0             Emilia               It's getting lonelier and lonelier.
1     Subaru Natsuki                        This is bad... Very bad...
2             Emilia                             Subaru? What's wrong?
3     Subaru Natsuki        Ah, I see. This is where they suck you in.
4     Subaru Natsuki                                 No... Run! Hurry!
...              ...                                                ...
9581  Subaru Natsuki                   You can take your time, Emilia.
9582  Subaru Natsuki   You can take your time and slowly,\nsteadily ...
9583  Subaru Natsuki   I'll do my best, so I can walk by your side.\...
9584          Emilia                              Thank you, Subaru...
9585          Emilia                                    For saving me.

[9586 rows x 2 columns]